body {
    background-color: #dee2e6;
    color: #6c757d;
  }
  
  .form-control {
    border-color: #1e2020;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  