/* Body styles */
body {
  background-color: #f0f0f0;
  color: #ffffff; /* change text color to white */
}

/* Container styles */
.container {
  margin-top: 3rem;
  color: #ffffff; /* change text color to white */
}

/* Tool option styles */
.tool-option {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ffffff; /* change text color to white */
}

/* Textarea styles */
.form-floating textarea,
.form-control:focus {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}

/* File input styles */
input[type="file"] {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}

/* Result section styles */
.result .form-control {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}

/* Submit button styles */
button[type="submit"],
.btn-primary {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}

/* Hover styles for buttons */
button[type="submit"]:hover,
.btn-primary:hover {
  background-color: #282626;
  border-color: #272626;
  color: #ffffff;
}

/* Card styles */
.card {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}

/* Card result styles */
.card .form-control {
  background-color: #333333;
  border-color: #e0e0e0;
  color: #ffffff;
}

/* Image container styles */
#image-container {
  border: 1px solid #333333;
}

/* Selected image styles */
#selected-image {
  max-width: 100%;
  max-height: 100%;
}

/* Label and input styles */
label.fw-bold {
  color: #ffffff;
}

/* Theme surface background color */
.theme-bg-surface {
  background-color: #0c0b0b; 
}

#loading-message {
  color: #333333;
} 

.hidden {
  display: none;
}

/* Logs Table styles */
#div_prompts {
  background-color: #333333;
  color: #ffffff; /* change text color to white */
}

#div_prompts h2 {
  color: #ffffff; /* change text color to white */
}

#tbl_prompts th,
#tbl_prompts td {
  color: #ffffff; /* change text color to white */
}

#tbl_prompts thead th {
  color: #ffffff; /* change text color to white for table header columns */
}

#tbl_prompts .spinner-border {
  color: #ffffff; /* change text color to white */
}

/* Override Bootstrap table header styles */
.table thead th {
  color: #ffffff; /* change text color to white */
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

